{{set . "title" "Home"}}
{{template "header.html" .}}

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Map view</span>

    <ul class="mdl-list">
      <li class="mdl-list__item">
        <form action="#">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="sample6">
              <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input" type="text" id="sample6">
              <label class="mdl-textfield__label" for="sample-expandable">Expandable Input</label>
            </div>
          </div>
        </form>
      </li>
    </ul>

    <ul class="segment-list mdl-list">
      <li class="mdl-list__item"></li>
    </ul>

  </div>

  <main class="mdl-layout__content">
    <div class="page-content">
      <div id="mapView">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--4-col"></div>
          <div class="mdl-cell mdl-cell--4-col mdl-cell--stretch">
            <br  />
            <p class="preloader mdl-progress mdl-js-progress mdl-progress__indeterminate">
              <small>Loading map</small>
            </p>
          </div>
          <div class="mdl-cell mdl-cell--4-col"></div>
        </div>
      </div>
    </div>
  </main>
</div>


{{template "footer.html" .}}
